@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Oleo+Script&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oleo Script';
  font-weight: normal;
}

body {
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-family: 'Lexend Deca';
}

header {
  
  background-color: #B00E0E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-right: 0.625rem;
}

header div + div {
  display: flex;
  align-items: center;
}

header div + div span + span {
  margin-left: 2rem;
}

header div + div span + span:hover {
  cursor: pointer;
}

label{
  font-size: 20px;
}
  
.desc{
    margin-left: 200px;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botao{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.description{
  
  width: 300px;
  height: 100px;
  display: block;
  align-items: initial;

}
 

button{
  color: white;
  border-color: red;
  background: rgb(245,126,126);
  background: linear-gradient(0deg, rgba(176,14,14,1) 0%, rgba(255,0,0,1) 70%, rgba(255,90,90,1) 100%);
  font-size: 18px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}

input{
  border-width: 1px;
  border-color: red;
  border-radius: 8px;
  height: 30px;
  display: block;
  font-size: initial;
}

textarea{  
  border-color: red;
  border-width: 1px;
  font-size: 18px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  resize: none;
}