@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

*{
    font-family: 'Oleo Script', cursive;
    font-weight:normal;
}

body{
    margin:0px;  
    font-size: 18px; 
}

header .conteudo{
    display:flex;
    align-items: center;
    background-color: rgb(176,14,14);
    height: 60px;
}

header .conteudo{
    margin:0px;
    color: white;
    padding-left:80px;
}

header .conteudo h1{
    margin-left: 10px;
}

.principal h1{
    text-align: center;
}

.principal form{
    display: flex;
    justify-content:space-evenly;
    margin-left: 80px;

}

.principal form .direita{
    margin-left: 50px;
}

.principal form input[type="text"], input[type="date"], select{
    width: 250px;
}

.principal form .botoes{
    display: flex;
    justify-content: end;
}

.principal form .botoes .cancelar{
    margin-left: 8px;
}

.principal form .botoes .cancelar:hover, .confirmar:hover{
    cursor: pointer;
}

footer{
    
    bottom: 0;
}

footer p{
    margin-left: 10px;
    color:red;
}

.principal form .direita .comprovante strong{
    color: red;
}

@media (max-width: 720px){
    .principal form{
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }

    .principal form .direita{
        margin-left: 0px;
    }

    .principal form .direita .cidade{
        margin-top:22px;
    }
}
